
.ProductImg1{
    /* background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../../assets/img/bg-menu.jpg'); */   
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../../assets/img/HomeThirdMainImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white ;
    text-shadow: 2px 2px  #cc891d;
    height:40vh;
    width:100%;
}
.filter-icon{
        border-color:red !important; 
        border-radius: 10px;
        padding: 6px 26px;
        position: sticky;
        top:0px;
        z-index:2;
}
.back{
    border-radius: 10px;
    border-color: red !important;
}
.back:hover{
    background-color: #fae2e2;
}
.Product2Comp{
   background-color: #fdefef;
   text-align: center;
   color: rgb(0, 0, 0);
}
#Product2H3{
    font-family: 'CormorantInfant';
}
.Product3Comp{
    background-color: #ffffff;
    margin-top:-20px;
}
#ShoppingCart{
    position: sticky;
    top:0;
}
h1,h2,h3,h4,h5,h6,p,ul,li,button{
    font-family: "Recursive", sans-serif !important;
    font-optical-sizing: auto  !important;
    font-weight: 500  !important;
    font-style: normal  !important;
    font-variation-settings:
      "slnt" 0,
      "CASL" 0,
      "CRSV" 0.5,
      "MONO" 0 ;
  /* font-family: "Abel", sans-serif;
  font-weight: 500;
  font-style: normal; */
  }


  @media screen and (min-width:279px) and (max-width:450px) {
    #ShoppingCart {
        position: relative;
        z-index: 2;
        position: sticky;
        top: 0;
        bottom: 0;
    }
}